/* import custome font Euclid circular b */
@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');
*{
    font-family: 'Euclid Circular B', "San Francisco", sans-serif;                                            
}
/* make the body part display flex and direction column*/
body{
    display: flex;
    flex-direction: column;
} 

/* top-section style*/
.top-section{
    display: flex;
    justify-content: flex-end;
    gap: 17px;
    align-items: center;
    color: rgb(37, 37, 37);
}

/* Navigation style*/
nav{
    display: flex;
}
.nav-links{
    display: flex;
}
.logo{
    height: 70px;
    width: 70px;
}