/* import custome font Euclid circular b */
@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');
*{
    font-family: 'Euclid Circular B', "San Francisco", sans-serif;                                            
}
/* make the body part display flex and direction column*/
body{
    display: flex;
    flex-direction: column;
    margin: 0;
} 

/* top-section style*/
.top-section{
    display: flex;
    justify-content: flex-end;
    gap: 17px;
    align-items: center;
    color: rgb(37, 37, 37);
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(243, 240, 240);
}
.top-section-text{
    font-size: 14px;
}
.fa-phone,
.fa-envelope{
    color: #7F00FF;
}

/* Navigation style*/
nav{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    gap: 70px;
}
.logo{
    height: 70px;
    width: 70px;
    padding-left: 30px;
}
.contact-us{
    padding-right: 30px;
}
.nav-links a,
.contact-us a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.nav-links,
.contact-us{
    list-style-type: none;
}
.nav-links a:hover,
.contact-us a:hover{
    border-bottom: solid 2px #7F00FF;
    border-radius: 2px;
    color: #7F00FF;
}

.nav-links a.active,
.contact-us a.active {
    border-bottom: 2px solid #7F00FF;
  }

  /* Style hero-section*/
  .container-hero-section{
    display: flex;
    gap: 80px;
  }
  .title{
    padding-top: 60px;
    padding-left: 130px;
    color: #7F00FF;
  }
  .moto-title{
    font-size: 45px;
    text-transform: uppercase;
  }
  .moto-subtitle{
    font-weight: lighter;
    color: rgb(61, 61, 61);
  }
  .get-in-touch-btn{
    padding: 10px 15px 10px 15px;
    border: none;
    background-color: #7F00FF;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
  }
  .front-image{
    height: 542px;
    width: 503px;
  }